<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.KickListMapper">
    <resultMap id="kickMap" type="com.example.demo.model.DO.KickListDO">
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <result column="PLAYER_ID" property="playerId" jdbcType="VARCHAR"/>
        <result column="PLAYER_NAME" property="playerName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>