<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="left-side sticky-left-side" th:fragment="left_side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <!--<a href="index.html"><img src="images/logo.png" alt=""></a>-->
        <img th:src="@{/images/title1.jpeg}" alt="" th:width="240px" th:height="50px"/>
    </div>

    <div class="logo-icon text-center">
        <!--<a href="index.html"><img src="images/logo_icon.png" alt=""></a>-->
        <img th:src="@{/images/logo_icon.png}" alt=""/>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="menu-list"><a href=""><i class="fa fa-home"></i> <span>系统首页</span></a>
                <ul class="sub-menu-list">
                    <li><a th:href="@{/index/index}">系统首页</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-home"></i> <span>玩家管理</span></a>
                <ul class="sub-menu-list">
                    <li><a th:href="@{/player/search}">玩家查询</a></li>
                </ul>
            </li>
            <!--<li class="menu-list"><a href=""><i class="fa fa-home"></i> <span>部落管理</span></a>-->
                <!--<ul class="sub-menu-list">-->
                    <!--<li><a th:href="@{/index}">部落查询</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
        <!--sidebar nav end-->
    </div>
</div>

<script type="text/javascript" th:fragment="left_script">
    jQuery(function ($) {

            $('.menu-list > a').click(function () {
                var parent = jQuery(this).parent();
                var sub = parent.find('> ul');

                if (!jQuery('body').hasClass('left-side-collapsed')) {
                    if (sub.is(':visible')) {
                        sub.slideUp(200, function () {
                            parent.removeClass('nav-active');
                            jQuery('.main-content').css({height: ''});
                            mainContentHeightAdjust();
                        });
                    } else {
                        visibleSubMenuClose();
                        parent.addClass('nav-active');
                        sub.slideDown(200, function () {
                            mainContentHeightAdjust();
                        });
                    }
                }
                return false;
            });

            //  class add mouse hover
            jQuery('.custom-nav > li').hover(function () {
                jQuery(this).addClass('nav-hover');
            }, function () {
                jQuery(this).removeClass('nav-hover');
            });

            // Menu Toggle
            jQuery('.toggle-btn').click(function () {
                $(".left-side").getNiceScroll().hide();

                if ($('body').hasClass('left-side-collapsed')) {
                    $(".left-side").getNiceScroll().hide();
                }
                var body = jQuery('body');
                var bodyposition = body.css('position');

                if (bodyposition != 'relative') {

                    if (!body.hasClass('left-side-collapsed')) {
                        body.addClass('left-side-collapsed');
                        jQuery('.custom-nav ul').attr('style', '');

                        jQuery(this).addClass('menu-collapsed');

                    } else {
                        body.removeClass('left-side-collapsed chat-view');
                        jQuery('.custom-nav li.active ul').css({display: 'block'});

                        jQuery(this).removeClass('menu-collapsed');

                    }
                } else {

                    if (body.hasClass('left-side-show'))
                        body.removeClass('left-side-show');
                    else
                        body.addClass('left-side-show');

                    mainContentHeightAdjust();
                }

            });

            searchform_reposition();

            jQuery(window).resize(function () {

                if (jQuery('body').css('position') == 'relative') {

                    jQuery('body').removeClass('left-side-collapsed');

                } else {

                    jQuery('body').css({left: '', marginRight: ''});
                }

                searchform_reposition();

            });

            // panel collapsible
            $('.panel .tools .fa').click(function () {
                var el = $(this).parents(".panel").children(".panel-body");
                if ($(this).hasClass("fa-chevron-down")) {
                    $(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
                    el.slideUp(200);
                } else {
                    $(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
                    el.slideDown(200);
                }
            });

            $('.todo-check label').click(function () {
                $(this).parents('li').children('.todo-title').toggleClass('line-through');
            });

            $(document).on('click', '.todo-remove', function () {
                $(this).closest("li").remove();
                return false;
            });

            //$("#sortable-todo").sortable();

            // panel close
            $('.panel .tools .fa-times').click(function () {
                $(this).parents(".panel").parent().remove();
            });

            // tool tips

            $('.tooltips').tooltip();

            // popovers

            $('.popovers').popover();
        });


        function visibleSubMenuClose() {
            jQuery('.menu-list').each(function () {
                var t = jQuery(this);
                if (t.hasClass('nav-active')) {
                    t.find('> ul').slideUp(200, function () {
                        t.removeClass('nav-active');
                    });
                }
            });
        }

        function mainContentHeightAdjust() {
            // Adjust main content height
            var docHeight = jQuery(document).height();
            if (docHeight > jQuery('.main-content').height())
                jQuery('.main-content').height(docHeight);
        }

        function searchform_reposition() {
            if (jQuery('.searchform').css('position') == 'relative') {
                jQuery('.searchform').insertBefore('.left-side-inner .logged-user');
            } else {
                jQuery('.searchform').insertBefore('.menu-right');
            }
        }
</script>

</body>
</html>